<form [formGroup]="studentForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Register student</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 m-lg-auto">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name"
                 id="name">
        </div>
        <div class="mb-3 text-danger"
             *ngIf="this.studentForm.controls.name.hasError('minlength')
                    && this.studentForm.controls.name.dirty">
            Please input >= 10 character
        </div>
        <div class="mb-3 text-danger"
             *ngIf="this.studentForm.controls.name.hasError('required')
                    && this.studentForm.controls.name.dirty">
          Please input name
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date of birth</label>
          <input type="date" class="form-control" formControlName="dateOfBirth"
                 id="dateOfBirth">
        </div>
        <div class="mb-3 text-danger"
             *ngIf="this.studentForm.controls.dateOfBirth.hasError('invalid18')
                    && this.studentForm.controls.dateOfBirth.dirty">
          Please input date of birth >= 18
        </div>
        <div class="mb-3" formGroupName="pwdGroup">
          <input type="text" formControlName="pwd" class="form-control">
          <input type="text" formControlName="pwdConfirm" class="form-control">
        </div>
        <button type="button" class="btn btn-primary" (click)="getInfoStudent()" [disabled]="studentForm.invalid">
          Register
        </button>
      </div>
    </div>
  </div>
</form>
