<form [formGroup]="studentForm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Register student</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 m-lg-auto">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name">
        </div>
        <div class="mb-3 text-danger" *ngIf="studentForm.get('name').dirty
                        && studentForm.get('name').hasError('required')">
          Please input name!
        </div>
        <div class="mb-3 text-danger" *ngIf="studentForm.get('name').dirty
                        && studentForm.get('name').hasError('pattern')">
          Wrong format!
        </div>
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Date of birth</label>
          <input type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth">
        </div>
        <div class="mb-3 text-danger" *ngIf="studentForm.get('dateOfBirth').dirty
                                     && studentForm.get('dateOfBirth').hasError('not18')">
          Not 18 years old!
        </div>
        <button type="button" class="btn btn-primary" [disabled]="studentForm.invalid" (click)="getInfoStudent()">Register</button>
      </div>
    </div>
  </div>
</form>
